WMessageServiceApi/WMessageServiceApi/Connected Services/ValidationService/ValidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.12/Authorisation/Services/ValidationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.12/Authorisation/Services/ValidationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.12/Authorisation/Services/ValidationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValidationService_AccessTokenValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:AccessTokenValidation" />
  </wsdl:message>
  <wsdl:message name="IValidationService_AccessTokenValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccessTokenValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IValidationService_UserCredentialValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:UserCredentialValidation" />
  </wsdl:message>
  <wsdl:message name="IValidationService_UserCredentialValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserCredentialValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="IValidationService">
    <wsdl:operation name="AccessTokenValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidationService/AccessTokenValidation" message="tns:IValidationService_AccessTokenValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidationService/AccessTokenValidationResponse" message="tns:IValidationService_AccessTokenValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserCredentialValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidationService/UserCredentialValidation" message="tns:IValidationService_UserCredentialValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidationService/UserCredentialValidationResponse" message="tns:IValidationService_UserCredentialValidation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValidationService" type="tns:IValidationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccessTokenValidation">
      <soap:operation soapAction="http://tempuri.org/IValidationService/AccessTokenValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCredentialValidation">
      <soap:operation soapAction="http://tempuri.org/IValidationService/UserCredentialValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidationService">
    <wsdl:port name="BasicHttpBinding_IValidationService" binding="tns:BasicHttpBinding_IValidationService">
      <soap:address location="http://192.168.0.12/Authorisation/Services/ValidationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>