WMessageServiceApi/WMessageServiceApi/Connected Services/ValidationService/ValidationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.12/Authorisation/Services/ValidationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" />
  <xs:element name="AccessTokenValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessTokenValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" minOccurs="0" name="AccessTokenValidationResult" nillable="true" type="q1:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCredentialValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedCredential" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCredentialValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" minOccurs="0" name="UserCredentialValidationResult" nillable="true" type="q2:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>