WMessageServiceApi/Connected Services/Authentication/AccessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.12/Authorisation/Services/AccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" />
  <xs:element name="GetAccessToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" minOccurs="0" name="accessRequest" nillable="true" type="q1:AccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" minOccurs="0" name="GetAccessTokenResult" nillable="true" type="q2:AccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenImplicit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccessTokenImplicitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" minOccurs="0" name="GetAccessTokenImplicitResult" nillable="true" type="q3:AccessToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessTokenValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAccessTokenValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" minOccurs="0" name="CheckAccessTokenValidResult" nillable="true" type="q4:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>