WMessageServiceApi/Connected Services/Authentication/AccessService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorisationServer.Access" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.12/Authorisation/Services/AccessService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AccessRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scope" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessRequest" nillable="true" type="tns:AccessRequest" />
  <xs:complexType name="AccessToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Organisation" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Scope" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessToken" nillable="true" type="tns:AccessToken" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsTokenValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
</xs:schema>