MessagingServiceApi/MessagingServiceApi/Connected Services/ValidationService/ValidationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorisationServer.Validation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="ValidationIsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResponse" nillable="true" type="tns:ValidationResponse" />
</xs:schema>